.bg-land {
  background-color: #d7d1cf ! important;
}

.bg-artifact {
  background-color: #dee6e9 ! important;
}

.bg-white {
  background-color: #f5f6f1 ! important;
}

.bg-blue {
  background-color: #c4dfed ! important;
}

.bg-black {
  background-color: #C8C2C2 ! important;
}

.bg-red {
  background-color: #f5d3c3 ! important;
}

.bg-green {
  background-color: #c2cebf ! important;
}

.bg-multicolor {
  background-color: #ecd997 ! important;
}