.hand {
  width: 235px;
  font-size: 14px;
  font-family: "Merriweather";
  color: black;
}

.card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 6px;
  padding: 0 12px;
  width: 235px;
  height: 29px;
  box-sizing: border-box;
  transition: transform 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.card.entering {
  transition: transform 400ms cubic-bezier(0.4, 0.0, 1, 1);
}

.card.leaving {
  transition: transform 400ms cubic-bezier(0.0, 0.0, 0.2, 1);
  position: absolute;
}

.left .card {
  background: url(ned-card-background.svg) no-repeat;
  clip-path: url(#cardLeft);
  padding-left: 6px;
  padding-right: 7px;
}

.right .card {
  background: url(ned-card-background-right.svg) no-repeat;
  clip-path: url(#cardRight);
  padding-left: 9px;
  padding-right: 4px;
}

.left .card.entering, .left .card.leaving {
  transform: translateX(-100%);
}

.right .card.entering, .right .card.leaving {
  transform: translateX(100%);
}

.card-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mana {
  font-size: 11px;
  position: relative;
  top: -0.5px;
}

.mana i {
  vertical-align: baseline;
  box-shadow: -0.5px 1px 0 #000;
  margin-left: 1px;
}

.bg-land {
  background-color: #d7d1cf ! important;
}

.bg-artifact {
  background-color: #dee6e9 ! important;
}

.bg-white {
  background-color: #f5f6f1 ! important;
}

.bg-blue {
  background-color: #c4dfed ! important;
}

.bg-black {
  background-color: #C8C2C2 ! important;
}

.bg-red {
  background-color: #f5d3c3 ! important;
}

.bg-green {
  background-color: #c2cebf ! important;
}

.bg-multicolor {
  background-color: #ecd997 ! important;
}