body {
  color: white;
  font: 36pt 'Roboto';
  margin: 0;
  background: #2c2c2c;
  background: linear-gradient(to right, #2c2c2c, #121212);
  text-align: center;
}

a {
  color: #eee;
}

.title {
  font: 72pt 'Metal Mania';
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #eee;
}

.date {
  margin-bottom: 30px;
}

.columns {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.player {
  width: 0;
  flex: 1;
  max-width: 310px;
  text-align: left;
}

.player + .player {
  margin-left: 140px;
}

.deck, .side {
  font-size: 16px;
  line-height: 30px;
}

.deck-name, .side-title {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mana {
  float: right;
  position: relative;
  top: -2px;
}

.mana > .ms {
  margin-left: 2px;
}