body, select, input, textarea {
  font-size: 20px;
  font-family: 'Roboto';
}

.header {
  position: absolute;
  right: 20px;
  top: 20px;
}

#user-pic {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
}

select, div {
  margin: 20px;
}

.header div {
  margin: 0;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  margin: 20px ! important;
}

.gamestate {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.player {
  display: inline-block;
}

input[type=number] {
  width: 4em;
}

#chyron_single {
  width: 20em;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font-size: 16px;
  padding: 5px 15px;
  border: 1px solid #555;
  border-radius: 3px;
  margin: 5px;
  user-select: none;
  cursor: pointer;
}

.player_data {
  flex-grow: 1;
}

.gamewins_controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.poison {
  width: 3em;
}

textarea {
  vertical-align: top;
}

input, textarea {
  padding: 10px;
}

.featured {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured .button, header .button {
  display: inline-block;
}