body {
  color: white;
  font: 36pt 'Roboto';
  margin: 0;
}

#title {
  font: 72pt 'Metal Mania';
  text-align: center;
  margin-top: 30%;
  color: #eee;
}

#freetext {
  font-size: 48pt;
  text-align: center;
  margin-top: 40%;
}

.decklist {
  position: absolute;
  top: 400px;
  font: 16pt 'Roboto Condensed';
  background-color: #555;
  column-count: 2;
  width: 40%;
  border: 10px solid #555;
  border-radius: 25px;

  padding-left: 1em;

  white-space: pre-line;
}

.decklist.left {
  left: 5%;
}

.decklist.right {
  right: 5%;
}

#game, #featuredcard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 8.3%;
  position: relative;
}

.recordAndTime, .lifetotal, .scorebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recordAndTime, .lifetotal:before, .scorebox, .scorebox:before {
  box-shadow: rgba(64, 64, 64, 0.7) 0 0 20px;
}

.scorebox {
  flex-grow: 1;
  flex-basis: 0;
  height: 72px;
}

.scorebox.left {
  align-items: flex-end;
  background: linear-gradient(to right, #2c2c2c, #121212);
  padding-right: 60px;
}

.scorebox:before {
  content: '';
  position: absolute;
  width: 7.3%;
  top: 0;
  height: 72px;
  background: #2c2c2c;
}

.scorebox.left:before {
  left: 1%;
  clip-path: url(#clipLeft);
}

.scorebox.right:before {
  right: 1%;
  clip-path: url(#clipRight);
}

.scorebox.right {
  align-items: flex-start;
  background: linear-gradient(to left, #2c2c2c, #121212);
  padding-left: 60px;
}

.life, .poison {
  z-index: 1;
}

.life {
  font-size: 40px;
}

.poison {
  font-size: 14px;
}

.poison:before {
  content: "\03d5";
  font-size: 12px;
  vertical-align: top;
  color: #35db3d;
}

.lifetotal {
  width: 0;
  height: 85px;
  z-index: 1;
  font-family: 'Cantata One';
  position: relative;
}

.lifetotal:before {
  content: '';
  position: absolute;
  background: linear-gradient(#313c56, #252b3e);
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.lifetotal.left {
}

.lifetotal.right {
}

.name {
  font-size: 26px;
}

.deck {
  font-size: 20px;
}

.recordAndTime {
  width: 180px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(#494949, #1b1b1b);
  justify-content: center;
  font-size: 30px;
  margin-top: -50px;
  padding-top: 40px;
  line-height: .9;
  box-sizing: border-box;
}

.logo {
  font-family: "Metal Mania";
  text-align: center;
  font-size: 30px;
  color: #705134;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -43px;
  width: 87px;
  height: 57px;
  line-height: 57px;
  box-sizing: border-box;
  background: url(ned-logo.svg);
}

.overtime {
  color: orange;
}

.sidebars {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hand {
  width: 235px;
  font-size: 15px;
  font-family: "Merriweather";
  color: black;
}

.featuredcard {
  background: linear-gradient(#313c56, #252b3e);
}

.card {
  margin-bottom: 6px;
  padding: 6px 12px;
  width: 235px;
  height: 29px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left .card {
  background: url(ned-card-background.svg) no-repeat;
  clip-path: url(#cardLeft);
}

.right .card {
  background: url(ned-card-background-right.svg) no-repeat;
  clip-path: url(#cardRight);
}

.card-C {
  background-color: #d7d1cf ! important;
}

.card-W {
  background-color: #f5f6f1 ! important;
}

.card-U {
  background-color: #c4dfed ! important;
}

.card-B {
  background-color: #c0b9b9 ! important;
}

.card-R {
  background-color: #f5d3c3 ! important;
}

.card-G {
  background-color: #c2cebf ! important;
}

.card-M {
  background-color: #ecd997 ! important;
}

.mana {
  font-size: 80%;
  float: right;
  padding-top: 2px;
}

.mana i {
  vertical-align: baseline;
}

.featuredcard {
  width: 20%;
  font-size: 10pt;
  padding: 30px;
  padding-bottom: 100px;
  box-sizing: border-box;
  border-top-right-radius: 10px;
}

.featuredcard .img {
  width: 85%;
  border-radius: 13px;
  margin-bottom: 20px;
}

.featuredcard > div {
  padding: 3px 10px;
}

.sideboard {
  position: absolute;
  top: 400px;
  font: 16pt 'Roboto Condensed';
  background-color: #555;
  column-count: 2;
  width: 40%;
  border: 10px solid #555;
  border-radius: 25px;
  padding-left: 1em;
  white-space: pre-line;
}

.sideboard.p1 {
  left: 5%;
}

.sideboard.p2 {
  right: 5%;
}
