body {
  color: white;
  font: 36pt 'Roboto';
  margin: 0;
}

#title {
  font: 72pt 'Metal Mania';
  text-align: center;
  margin-top: 30%;
  color: #eee;
}

#freetext {
  font-size: 48pt;
  text-align: center;
  margin-top: 30%;
}

.decklist {
  position: absolute;
  top: 400px;
  font: 16pt 'Roboto Condensed';
  background-color: #555;
  column-count: 2;
  width: 40%;
  border: 10px solid #555;
  border-radius: 25px;

  padding-left: 1em;

  white-space: pre-line;
}

.decklist.left {
  left: 5%;
}

.decklist.right {
  right: 5%;
}

#game, #featuredcard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  height: 133px;
  background-color: #374656;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(64, 64, 64, 0.7) 0 0 20px;
}

.recordAndTime, .lifetotal, .scorebox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scorebox {
  flex-grow: 1;
  margin-top: 20px;
  line-height: 1.25;
}

.scorebox.left {
  align-items: flex-end;
}

.scorebox.right {
  align-items: flex-start;
}

.life {
  font-size: 175%;
}

.poison {
  font-size: 80%;
}

.poison:before {
  content: "\03d5";
  font-size: 80%;
  vertical-align: top;
  color: #35db3d;
}

.lifetotal {
  line-height: 0.9;
  margin-top: 35px;
}

.lifetotal.left {
  margin-right: 10px;
  margin-left: 25px;
}

.lifetotal.right {
  margin-left: 10px;
  margin-right: 25px;
}

.name {
  font-size: 140%;
}

.deck {
  font-size: 50%;
}

.recordAndTime {
  padding: 0 70px;
  border-top-right-radius: 40px 85px;
  border-top-left-radius: 40px 85px;
  border-bottom-right-radius: 40px 85px;
  border-bottom-left-radius: 40px 85px;
  background-color: #1c2025;
  justify-content: center;
}

.overtime {
  color: orange;
}

.lifetotal.left {
  left: 15%;
}

.lifetotal.right {
  right: 15%;
  text-align: right;
}

.sidebars {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.hand {
  width: 15%;
  font-size: 12pt;
  padding: 20px;
  box-sizing: border-box;
  text-shadow: rgba(64, 64, 64, 0.8) 0 1px;
}

.hand.left, .featuredcard {
  background-color: #a5a4a2;
}

.hand.right {
  background-color: #f8ab00;
}

.card {
  padding-bottom: 0.3em;
}

.mana {
  font-size: 80%;
}

.mana i {
  vertical-align: baseline;
}

.bug {
  font-family: "Metal Mania";
  position: absolute;
  left: 45px;
  bottom: 20px;
  text-align: center;
  line-height: 0.85;
}

.bug .logo {
  font-size: 150%;
}

.bug .name {
  font-size: 30%;
}

.featuredcard {
  width: 20%;
  font-size: 10pt;
  padding: 20px;
  box-sizing: border-box;
  text-shadow: rgba(64, 64, 64, 0.8) 0 1px;
}

.featuredcard .img {
  width: 85%;
  border-radius: 13px;
  margin-bottom: 20px;
}

.featuredcard > div {
  padding: 3px 10px;
}

.sideboard {
  position: absolute;
  top: 400px;
  font: 16pt 'Roboto Condensed';
  background-color: #555;
  column-count: 2;
  width: 40%;
  border: 10px solid #555;
  border-radius: 25px;
  padding-left: 1em;
  white-space: pre-line;
}

.sideboard.p1 {
  left: 5%;
}

.sideboard.p2 {
  right: 5%;
}
